<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="dictionary" class="edu.vt.middleware.dictionary.WordListDictionary">
    <constructor-arg>
      <bean class="edu.vt.middleware.dictionary.FileWordList">
        <constructor-arg>
          <bean class="java.io.RandomAccessFile">
            <constructor-arg><value>src/test/resources/web2.sort</value></constructor-arg>
            <constructor-arg><value>r</value></constructor-arg>
          </bean>
        </constructor-arg>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="alphaRule" class="edu.vt.middleware.password.AlphabeticalCharacterRule"
    p:numberOfCharacters="3"/>
  <bean id="digitRule" class="edu.vt.middleware.password.DigitCharacterRule"
    p:numberOfCharacters="1"/>
  <bean id="charRule" class="edu.vt.middleware.password.CharacterCharacteristicsRule"
    p:numberOfCharacteristics="2">
    <property name="rules">
      <list>
        <ref bean="alphaRule"/>
        <ref bean="digitRule"/>
      </list>
    </property>
  </bean>

  <bean id="dictRule" class="edu.vt.middleware.password.DictionarySubstringRule"
    p:dictionary-ref="dictionary"
    p:wordLength="4"/>

  <bean id="lenRule" class="edu.vt.middleware.password.LengthRule"
    p:minimumLength="5"/>

  <bean id="qwertySeqRule" class="edu.vt.middleware.password.QwertySequenceRule"
    p:ignoreCase="true"
    p:matchBackwards="true"/>

  <bean id="alphaSeqRule" class="edu.vt.middleware.password.AlphabeticalSequenceRule"
    p:ignoreCase="true"
    p:matchBackwards="true"/>

  <bean id="numSeqRule" class="edu.vt.middleware.password.NumericalSequenceRule"
    p:matchBackwards="true"/>

  <bean id="dupSeqRule" class="edu.vt.middleware.password.DuplicateSequenceRule"/>

  <bean id="usernameRule" class="edu.vt.middleware.password.UsernameRule"
    p:ignoreCase="true"
    p:matchBackwards="true"/>

  <bean id="wsRule" class="edu.vt.middleware.password.WhitespaceRule"/>

  <bean id="ruleList" class="edu.vt.middleware.password.RuleList">
    <property name="rules">
      <list>
        <ref bean="charRule"/>
        <ref bean="dictRule"/>
        <ref bean="lenRule"/>
        <ref bean="qwertySeqRule"/>
        <ref bean="alphaSeqRule"/>
        <ref bean="numSeqRule"/>
        <ref bean="dupSeqRule"/>
        <ref bean="usernameRule"/>
        <ref bean="wsRule"/>
      </list>
    </property>
  </bean>  
</beans>
